# Dependency folders
node_modules/

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Vite cache
.vite/

# IDE / editor unwanted files
.vscode/
.idea/
